deepspeed
diffusers>==0.5.0
accelerate
torchvision
transformers>=4.21.0
ftfy
tensorboard
modelcards
accelerate
triton
numpy>==1.21.6
opencv-python>==4.6.0.66
deepface>==0.0.75
setuptools>==65.6.0
Pillow>==9.3.0
tqdm>==4.64.1
